# Backend
/backend/node_modules
/backend/package-lock.json
/backend/pnpm-lock.yaml
/backend/.env


# Frontend (Flutter)
/frontend/.dart_tool/
/frontend/.pub/
/frontend/.pub-cache/
/frontend/build/
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.env
/frontend/pubspec.lock

/php-backend/.env
/php-backend/.env.local
/php-backend/vendor
/php-backend/.DS_Store
/php-backend/.env.example
/php-backend/composer.lock
# /php-backend/composer.json
/php-backend/API_MIGRATION_STATUS.md
/php-backend/.vscode/
/php-backend/README.md

# Documentation
/docs/

# System & Tool Files
rules.md
.DS_Store